{% extends 'base.html' %}
    {% block body %}
        <div class="container">
            <h1 class="my-4 text-center">Welcome to your world of News</h1>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-6">
                        <div class="card mb-4 news-article">
                            {% if article.urlToImage %}
                                <img src="{{ article.urlToImage }}" alt="picture" class="card-img-top" >
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h5>
                                <p class="card-text">{{ article.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}